In [1]:
import mysql.connector
import pandas as pd

In [4]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'mi_primerita_bbdd_python'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_bbdd_python'; database exists

Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:
idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.
Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Talla: es entero, no nula.

In [13]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE zapatillas (
                     ID_zapatillas INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                     Modelo VARCHAR(45) NOT NULL, 
                     Color VARCHAR(45) NOT NULL,
                     TALLA INT NOT NULL)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE zapatillas (
              ..

Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:
idCliente: es una clave primaria de tipo int, autoincremental y no nula.
Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.
Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Codigo_postal: entero de m치xima longitud 9, no nula.

In [14]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE clientes (
                     ID_cliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                     Nombre VARCHAR(45) NOT NULL, 
                     Numero_telefono INT(9) NOT NULL,
                     Email VARCHAR(45) NOT NULL,
                     Direccion VARCHAR(45) NOT NULL,
                     Ciudad VARCHAR(45), 
                     Provincia VARCHAR(45) NOT NULL,
                     Pais VARCHAR(45) NOT NULL,
                     Codigo_postal INT NOT NULL)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE clientes (
                ..

Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
salario: es decimal, puede ser nula.
fecha_incorporacion: es una columna de tipo date, no nula.

In [15]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE empleados (
                     ID_empleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                     Nombre VARCHAR(45) NOT NULL, 
                     Tienda VARCHAR(45) NOT NULL,
                     Salario FLOAT, 
                     Fecha_incorporacion DATE NOT NULL)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE empleados (
               ..

Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
idFactura: es una clave primaria de tipo int, autoincremental y no nula.
idEmpleado: es una clave for치nea de tipo int, no nula.
idCliente: es una clave for치nea de tipo int, no nula.
idZapatilla: es una clave for치nea de tipo int, no nula
Fecha: es una columna de tipo date, no nula.
Total: es decimal, no nula.
游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
Foreign Key
References

In [19]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')


mycursor = cnx.cursor()
try:
    mycursor.execute("""CREATE TABLE Facturas (
                     ID_factura INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                     ID_empleado INT NOT NULL, 
                     ID_cliente INT NOT NULL,
                     ID_zapatillas INT NOT NULL,
                     Fecha DATE NOT NULL,
                     Total FLOAT NOT NULL,
                     CONSTRAINT FK_ID_empleado
                        FOREIGN KEY (ID_empleado)
                        REFERENCES Empleados(ID_empleado) 
                        ON DELETE RESTRICT ON UPDATE CASCADE,
                     CONSTRAINT FK_ID_cliente
                        FOREIGN KEY (ID_cliente)
                        REFERENCES Clientes(ID_cliente) 
                        ON DELETE RESTRICT ON UPDATE CASCADE,
                     CONSTRAINT FK_ID_zapatilla
                        FOREIGN KEY (ID_zapatillas)
                        REFERENCES Zapatillas(ID_zapatillas) 
                        ON DELETE RESTRICT ON UPDATE RESTRICT)""")
    cnx.commit()
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate) 
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE Facturas (
                ..